<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container d-flex justify-content-center">
    <div class="w-50 align-center">
      <div class="login-body align-center">
        <div class="text-center">
          <div class="brand-wrapper ">
            <h3>LOGIN</h3>
          </div>
        </div>
        <br>
        <form class="validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <div class="col-lg-12 text-center">
            <div class="form-group position-relative">
              <label>Your Email <span class="text-danger">*</span></label>
              <input type="email" class="form-control psl-5" formControlName="user_email" placeholder="Email" required>
            </div>
          </div>

          <div class="col-lg-12 mt-3">
            <div class="form-group position-relative">
              <div class="text-center">
              <label >Password <span class="text-danger">*</span></label>
              <input [type]=" showPassword ? 'text' : 'password' " class="form-control psl-5" formControlName="user_pwd"
                placeholder="Password" required>
              </div>
              <div class="align-right" style="cursor: pointer;"> <a class="" (click)='showHidePassword()'> {{
                  showPassword ? 'Hide' : 'Show' }} Password</a> </div>
              <!-- <small class="form-text text-danger" *ngIf="!!formError.password">{{formError.password}}</small> -->
            </div>
          </div>
          <div *ngIf="error" class="alert alert-danger mb-3 msl-3">{{error}}</div>
          <div class="mt-3">
            <div *ngIf="error" class="alert alert-danger mb-3 msl-3">{{error}}</div>
            <div class="col-md-12 d-flex justify-content-center">
              <button class="btn btn-primary auth-form-btn" [disabled]="loginForm.invalid">Login</button>
            </div>
          </div>
          <div class="col-lg-12 mt-4 text-center">
            <div class="mx-auto">
              <p class="mb-0 mt-3"><small class="text-dark msr-2">Don't have an account?</small> <a
                  routerLink="/sign-up" class="text-dark fw-bold">Sign Up</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</main>
